@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: white
  
}
.button{
  padding: 19px;
  margin: 0 2px;
  width: 40px;
  border-radius: 2px;
  border-color: floralwhite;
  background-color: whitesmoke;
  cursor: pointer;
  box-shadow:0.9px 0.8px 0.5px lightyellow;
  
  
}
.row{
  margin: 5px 0;
  
  
}
.row .input{
    margin: 5px;
    padding: 9px 15px;
    box-shadow:0.9px 0.8px 0.5px lightyellow;
    border-radius: 3px;
    font-size: 0.85rem;
    font-family: 'Roboto', sans-serif white;
}
.r1{
  width: 95px;
}
