.text-center{
    text-align: center;
  }
  .mx-auto{
    margin: auto;
  }
  .flex{
    display: flex;
    align-items: center;
  }
  .flex-col{
    flex-direction: column;
  }
body{
  background: linear-gradient(45deg,#0a0a0a, #3a4452)
}  